    <footer>
        <hr>
        <p>Lab 4: The Solar System</p>
        <p>CST336 Internet Programming. 2026&copy; Ho</p>
        <p><strong>Disclaimer:</strong> The information in this webpage is fictitious and used for academic purposes.
        </p>
    </footer>